<a href="https://colab.research.google.com/github/norhan333/NeuroPhone-RealTime-BrainMobilePhone-Interface/blob/main/model/EPFL_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!!pip install MOABB

In [60]:
import numpy as np
import scipy.io as sio
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC

In [46]:
import moabb
from moabb.datasets import EPFLP300, utils
from moabb.evaluations import CrossSessionEvaluation
from moabb.paradigms import LeftRightImagery
from moabb.pipelines.features import LogVariance
moabb.set_log_level("info")

In [115]:
def getData(subjectNumbers,dataset=EPFLP300()):
  return dataset.get_data(subjectNumbers)

In [146]:
def getDataFrame(subjectNumber,session_number,run_number,resample=None):
  session = f'session_{session_number}'
  run = f'run_{run_number}'
  data = getData([subjectNumber])
  if resample!=None: return data[subjectNumber][session][run].resample(resample).to_data_frame()
  return  data[subjectNumber][session][run].to_data_frame()

In [145]:
data=getDataFrame(1,1,1)

In [147]:
data.head()

,time,Fp1,AF3,F7,F3,FC1,FC5,T7,C3,CP1,...,FC2,F4,F8,AF4,Fp2,Fz,Cz,MA1,MA2,STI
0,0.000000,3566.625000,27146.750000,-9512.343750,19556.281250,1640.281250,-1500.781250,-8068.000000,3436.687500,-12713.562500,...,7099.187500,-2389.000000,-16210.187500,4854.968750,22967.625000,6985.312500,8299.875000,0.006680,-0.006680,0.0
1,0.000488,3564.203125,27144.609375,-9515.796875,19553.046875,1638.640625,-1502.734375,-8072.609375,3434.109375,-12718.734375,...,7095.828125,-2392.078125,-16213.421875,4852.578125,22965.609375,6981.921875,8297.671875,0.006677,-0.006677,0.0
2,0.000977,3561.390625,27141.890625,-9519.296875,19548.890625,1635.734375,-1504.921875,-8076.140625,3433.578125,-12722.203125,...,7092.609375,-2395.671875,-16216.046875,4850.046875,22964.734375,6980.421875,8295.234375,0.006671,-0.006671,0.0
3,0.001465,3559.515625,27139.015625,-9521.640625,19546.609375,1632.765625,-1505.546875,-8077.828125,3430.984375,-12722.890625,...,7089.953125,-2398.734375,-16219.546875,4845.796875,22962.515625,6979.203125,8293.765625,0.006667,-0.006667,0.0
4,0.001953,3556.421875,27137.296875,-9523.734375,19546.296875,1631.390625,-1507.171875,-8081.390625,3430.109375,-12724.953125,...,7087.453125,-2400.859375,-16222.421875,4842.890625,22960.390625,6977.453125,8291.078125,0.006665,-0.006665,0.0

Warning: Total number of columns (36) exceeds max_columns (20) limiting to first (20) columns.